proyectos/multiseguros/workflows/AndyBot_Personal.json
{
  "name": "AndyBot Personal — Asistente de Andrés",
  "nodes": [
    {
      "parameters": {
        "triggerEvent": "messageCreate",
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [50, 300],
      "credentials": {
        "telegramApi": "andybot_personal"
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message;\nif (!msg || !msg.text) return [];\nreturn [{\n  json: {\n    chat_id: String(msg.chat.id),\n    user_message: msg.text,\n    user_name: msg.from?.first_name || 'Andrés'\n  }\n}];"
      },
      "id": "extract-data",
      "name": "Code — Extraer datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://lddkqfgpjjuxkccjfjud.supabase.co/rest/v1/tareas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "estado", "value": "eq.pendiente" },
            { "name": "order", "value": "orden.asc" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANDYBOT_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_ANDYBOT_KEY }}" }
          ]
        }
      },
      "id": "http-tareas",
      "name": "HTTP — Tareas Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 150]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://lddkqfgpjjuxkccjfjud.supabase.co/rest/v1/proyectos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "nombre", "value": "eq.MSDS-CRM" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANDYBOT_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_ANDYBOT_KEY }}" }
          ]
        }
      },
      "id": "http-proyecto",
      "name": "HTTP — Proyecto Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 450]
    },
    {
      "parameters": {
        "mode": "combineAll",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-supabase",
      "name": "Merge — Supabase data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Primer input: tareas (HTTP — Tareas Supabase)\n// Segundo input: proyecto (HTTP — Proyecto Supabase)\nconst allItems = $input.all();\n\n// Separar por origen: items con 'descripcion' son tareas, con 'nombre' son proyectos\nconst tareas = allItems.filter(i => i.json.descripcion !== undefined).map(i => i.json);\nconst proyectos = allItems.filter(i => i.json.nombre !== undefined).map(i => i.json);\nconst proyecto = proyectos[0] || {};\n\nconst listaTareas = tareas.length > 0\n  ? tareas.map((t, i) => `${i + 1}. ${t.descripcion}`).join('\\n')\n  : '(sin tareas pendientes)';\n\nconst contextoSupabase = `\n---\nESTADO ACTUAL MSDS-CRM (en vivo desde Supabase — ${new Date().toISOString().slice(0, 10)}):\nCheckpoint: ${proyecto.checkpoint || 'sin datos'}\n\nTAREAS PENDIENTES:\n${listaTareas}\n---`;\n\nconst extractNode = $('Code — Extraer datos').first().json;\n\nreturn [{ json: {\n  chat_id: extractNode.chat_id,\n  user_message: extractNode.user_message,\n  contexto_supabase: contextoSupabase\n} }];"
      },
      "id": "build-context",
      "name": "Code — Construir contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [ { role: 'system', content: 'Eres AndyBot (también \"Andy\"), el asistente personal y versión digital de Andrés,\\nconsultor de marketing y desarrollo de soluciones AI/automatización en Neiva, Huila, Colombia.\\n\\nQUIÉN ERES:\\n- El conserje que conoce el negocio de Andrés de memoria.\\n- Su mano derecha para consultas rápidas desde el móvil por Telegram.\\n- Un coach que conoce sus límites en programación y lo aterriza sin condescendencia.\\n\\nQUÉ SABES:\\n- Tienes acceso al contexto que se te entrega desde la carpeta ANDYBOT (proyectos, biblioteca, decisiones).\\n- Si te preguntan por un proyecto, usa el ESTADO.md y DECISIONES.md de ese proyecto.\\n- Si no tienes el contexto cargado, pídelo claramente: \"Pásame el ESTADO.md de ese proyecto.\"\\n\\nCÓMO RESPONDES:\\n- Español latino, NO argentino. Directo y breve. Sin relleno.\\n- Andrés está aprendiendo a programar: explica lo técnico en su idioma, sin asumir que sabe.\\n- Cuando algo sea complejo (arquitectura, código delicado, decisiones de negocio grandes),\\n  di con honestidad: \"Esto es para Fable/Claude, no para mí. Te preparo el contexto para pasárselo.\"\\n- Optimiza tokens: respuestas concisas. No repitas lo que ya está en el contexto.\\n\\nQUÉ PUEDES HACER:\\n- Responder dónde va un proyecto, qué se decidió y por qué.\\n- Recordar tareas pendientes (lees TAREAS.md).\\n- Traducir términos técnicos a lenguaje simple (lees GLOSARIO.md).\\n- Dar primeras ideas para prospectos (qué se le puede ofrecer a un cliente nuevo).\\n- Interpretar imágenes que te manden (esquemas, servilletas, logos): describe e interpreta.\\n- Sugerir qué flujo de biblioteca/flujos-reutilizables/ podría servir para algo nuevo.\\n\\nQUÉ NO HACES:\\n- No inventas datos que no tienes. Si no sabes, dices que no sabes.\\n- No escribes código complejo ni depuras flujos n8n (eso es CC, Codex y Fable).\\n- No das cifras de tarifas inventadas: el tema \"cómo cobrar\" se resuelve con Fable cuando haya datos reales.\\n- No guardas ni repites contraseñas o claves bajo ninguna circunstancia.\\n\\nREGLA DE ORO:\\nEres el que conoce el edificio, no el arquitecto que construye. Tu valor es la memoria\\ny el contexto, no la potencia de cálculo. Cuando el trabajo necesita un arquitecto, lo dices.\\n\\n---\\n\\nCONTEXTO ACTIVO — MSDS-CRM (actualizado 2026-06-20)\\n\\nEstado del proyecto:\\nCliente: Multiseguros del Sur (MSDS) — intermediario de seguros en Colombia.\\nObjetivo: CRM completo con AI, Telegram y automatización de procesos.\\nStack: Supabase + n8n (Easypanel) + OpenAI GPT-4o-mini + Telegram.\\n\\nInfraestructura:\\n- VPS: Hostinger Ubuntu 24.04 — IP 76.13.28.7\\n- n8n: https://no-26feb-n8n.ydlmwq.easypanel.host\\n- Supabase proyecto: ekarbxdoaoqrtlmfzgyj.supabase.co\\n- 523 clientes migrados desde Airtable\\n\\nBots de Telegram:\\n- SCMSDS_bot: bot del cliente MSDS — maneja P2/P3/P4\\n- AndyBot: bot personal de Andrés — este sistema\\n- IMPORTANTE: son instancias separadas, credenciales separadas en n8n\\n\\nWorkflows n8n (Asistentes Operativos):\\n- P2 = Asistente Agenda (sin respaldo local — pendiente exportar)\\n- P3 = Asistente Cotización (sin respaldo local — pendiente exportar)\\n- P4 = Asistente Urgencias — OPERATIVO ✅ (verificado 2026-06-20)\\n  * Flujo: recibe siniestro → busca póliza en Supabase → crea registro → notifica Telegram gerente\\n  * Póliza de prueba confirmada: POL-0001\\n  * Credencial: Supabase API nativa en n8n\\n\\nArchivos clave:\\n- CHECKPOINT_ACTUAL.md → estado real del proyecto\\n- SPRINT_FINAL_MVP.md → pasos pendientes en orden\\n- /workflows/ → JSONs de n8n (P4 v4 es el activo)\\n- SCMSDS_BOT_SYSTEM.md → system prompt del bot del cliente\\n\\nDecisiones de arquitectura bloqueadas:\\n- AI usa solo OpenAI API (no Claude API) — decisión de costo\\n- Sin portal de clientes — asesor gestiona todo\\n- Dashboard con polling cada 60 segundos (sin websockets)\\n- Credenciales nunca hardcodeadas en JSONs — siempre en n8n credentials\\n\\nCómo responder preguntas de proyecto:\\nSi Andrés pregunta \"¿en qué vamos?\" → resume pendientes inmediatos en 3 líneas.\\nSi pregunta por un workflow → consulta este contexto + CHECKPOINT_ACTUAL.md.\\nSi pregunta algo técnico de n8n o Supabase → responde con lo que sabes, si es complejo deriva a Claude.\\nSi pregunta por el siguiente paso → da el paso A1 o el primero sin ✅ del SPRINT_FINAL_MVP.' + $json.contexto_supabase }, { role: 'user', content: $json.user_message } ], temperature: 0.7, max_tokens: 800 }) }}"
      },
      "id": "http-openai",
      "name": "HTTP — OpenAI GPT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "credentials": {
        "openAiApi": "openai_andybot"
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Code — Extraer datos').first().json.chat_id;\nconst text = $json.choices?.[0]?.message?.content || 'Sin respuesta de OpenAI';\nif (!chatId) throw new Error('chat_id perdido');\nreturn [{ json: { chat_id: chatId, response_text: text } }];"
      },
      "id": "prepare-send",
      "name": "Code — Preparar respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response_text }}"
      },
      "id": "telegram-send",
      "name": "Telegram — Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "telegramApi": "andybot_personal"
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Code — Extraer datos", "type": "main", "index": 0}]]
    },
    "Code — Extraer datos": {
      "main": [
        [
          {"node": "HTTP — Tareas Supabase", "type": "main", "index": 0},
          {"node": "HTTP — Proyecto Supabase", "type": "main", "index": 0}
        ]
      ]
    },
    "HTTP — Tareas Supabase": {
      "main": [[{"node": "Merge — Supabase data", "type": "main", "index": 0}]]
    },
    "HTTP — Proyecto Supabase": {
      "main": [[{"node": "Merge — Supabase data", "type": "main", "index": 1}]]
    },
    "Merge — Supabase data": {
      "main": [[{"node": "Code — Construir contexto", "type": "main", "index": 0}]]
    },
    "Code — Construir contexto": {
      "main": [[{"node": "HTTP — OpenAI GPT", "type": "main", "index": 0}]]
    },
    "HTTP — OpenAI GPT": {
      "main": [[{"node": "Code — Preparar respuesta", "type": "main", "index": 0}]]
    },
    "Code — Preparar respuesta": {
      "main": [[{"node": "Telegram — Send", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "pinData": {}
}
